header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--half-spacing) var(--spacing);
  background-color: var(--background-secondary);
  z-index: 10;

  & > a {
    position: relative;
    display: flex;
    width: calc(var(--double-spacing) * 3);
    height: auto;
    aspect-ratio: 2/0.5;
  }

  & aside {
    position: absolute;
    top: 0;
    left: 0;
    translate: 0 -100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--half-spacing);
    padding: var(--spacing);
    opacity: 0;
    background-color: var(--background-secondary);
    z-index: -1;

    &.visible {
      top: 100%;
      translate: 0;
      opacity: 1;
    }

    & ul {
      max-height: 50dvh;
      display: flex;
      flex-direction: column;
      gap: var(--half-spacing);
      padding: var(--half-spacing);
      background-color: var(--background-primary);
      border-radius: var(--half-border-radius);
      overflow-y: auto;

      & > * {
        flex-shrink: 0;
      }
    }
  }
}

@media (width > 768px) {
  header {
    & aside {
      gap: var(--spacing);

      & ul {
        max-height: 30dvh;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        background-color: transparent;
        border-radius: 0;

        & > * {
          flex-basis: calc(50% - (var(--half-spacing) / 2));
          padding: var(--half-spacing);
          background-color: var(--background-primary);
          border-radius: var(--half-border-radius);
        }
      }
    }
  }
}
