.password-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(var(--half-spacing) / 2);
  background-color: var(--background-primary);
  border-radius: var(--half-border-radius);
  overflow: hidden;

  & input {
    flex-grow: 1;
    padding-left: var(--half-spacing);
    font: var(--sub-label);
  }

  & input::placeholder {
    color: var(--text-secondary);
  }

  & button {
    border-radius: 0 !important;

    & svg {
      width: clamp(0.75rem, 1rem, 1.25rem) !important;
      height: clamp(0.75rem, 1rem, 1.25rem) !important;
    }
  }
}
