section#testimonials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--spacing);
  padding: var(--spacing);
  margin: var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--background-secondary);

  & h1 {
    font: var(--main-heading);
    color: var(--accent-primary);
    text-align: center;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--spacing);
  }
}

@media (width > 768px) {
  section#testimonials {
    & ul {
      & li {
        width: calc(50% - var(--spacing));
      }
    }
  }
}

@media (width > 1360px) {
  section#testimonials {
    & ul {
      & li {
        width: calc(25% - var(--spacing));
      }
    }
  }
}
