main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

@media (width > 768px) {
  main {
    height: 100dvh;
    overflow: hidden;
    overflow-y: auto;
  }
}
