section#call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  padding: var(--double-spacing);
  padding-top: var(--spacing);

  & h3 {
    max-width: 70ch;
    font: var(--sub-title);
    text-align: center;
  }
}
