section#message {
  height: calc(100dvh - (var(--spacing) * 3));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);

  & article {
    display: flex;
    align-items: center;
    gap: var(--half-spacing);

    & svg {
      width: clamp(1.5rem, 2rem, 2.5rem);
      height: auto;
    }

    & pre {
      font: var(--sub-text);
      padding-left: var(--half-spacing);
      border-left: 2px solid var(--text-primary);
    }
  }
}
