@font-face {
  font-family: 'PublicSans';
  src: url('./../assets/fonts/public_sans/Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PublicSans';
  src: url('./../assets/fonts/public_sans/ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PublicSans';
  src: url('./../assets/fonts/public_sans/Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PublicSans';
  src: url('./../assets/fonts/public_sans/Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PublicSans';
  src: url('./../assets/fonts/public_sans/Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PublicSans';
  src: url('./../assets/fonts/public_sans/SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PublicSans';
  src: url('./../assets/fonts/public_sans/Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PublicSans';
  src: url('./../assets/fonts/public_sans/ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PublicSans';
  src: url('./../assets/fonts/public_sans/Black.ttf');
  font-weight: 900;
  font-style: normal;
}
