section#carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--spacing);
  padding: var(--spacing);

  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing);

    & h4 {
      font: var(--main-title);
    }

    & a {
      padding: 0;
    }
  }

  & .carousel {
    position: relative;
    overflow: hidden;

    & .arrow {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      z-index: 2;

      &.left {
        left: var(--half-spacing);
      }

      &.right {
        right: var(--half-spacing);
      }
    }

    & .slides {
      display: flex;
      width: fit-content;
      justify-content: flex-start;

      & > * {
        flex-shrink: 0;
      }
    }
  }
}
