section#carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--spacing);
  padding: var(--spacing);
  overflow: hidden;

  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing);

    & h4 {
      font: var(--main-title);
    }

    & a {
      padding: 0;
    }
  }

  & .carousel {
    position: relative;

    & .arrow {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      z-index: 2;

      &.left {
        left: var(--half-spacing);
      }

      &.right {
        right: var(--half-spacing);
      }
    }

    & .slides {
      width: fit-content;
      display: flex;
      justify-content: flex-start;
      gap: var(--half-spacing);

      & > * {
        width: 60dvw;
        flex-grow: 1;
      }
    }
  }
}

@media (width > 768px) {
  section#carousel {
    overflow: visible;

    & .carousel {
      & .slides {
        & > * {
          width: 40dvw !important;
        }
      }
    }
  }
}

@media (width > 1025px) {
  section#carousel {
    & .carousel {
      & .slides {
        & > * {
          width: 20dvw !important;
        }
      }
    }
  }
}
