section#carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--spacing);
  padding: var(--spacing);
  margin: var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--background-secondary);

  & h4 {
    font: var(--main-title);
  }

  & .body {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: var(--half-spacing);
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    & > * {
      flex: 1 0 60%;
      scroll-snap-align: start;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (width >= 768px) {
  section#carousel {
    & .body {
      & > * {
        flex-basis: 40%;
      }
    }
  }
}

@media (width >= 1024px) {
  section#carousel {
    & .body {
      & > * {
        flex-basis: 30%;
      }
    }
  }
}
